.credit-card-box{
    width: 90%;
    margin-top: 4rem;
}

.credit-card-row{
    margin-top: 0.4rem;
}

.expiry-cv{
    display: flex;
}


.card-expiry{
    width: 70%;
    margin-right: 0.4rem;
}

.card-cvc{
    width: 30%;
}


